Add tests for {{ symbol }}. Follow existing conventions when implementing the
tests. For example, if the surrounding code uses fixtures, do so as well.

{% if src_path %}The symbol to be tested is defined in {{ src_path }}.{% end %}

{% if test_path %}The tests should be added to {{ test_path }}.{% end %}

Do not stop until you have added at least one test. You should add separate
tests to cover the normal execution path, and to cover any exceptional cases.
